@using WebDuLich.Models.DataModel;
@model IEnumerable<DatTour>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Sharelayout.cshtml";
    //WebGrid grid = new WebGrid(source: Model, rowsPerPage: 2);
}
<h4 class="mt-3">
    <span>ĐẶT TOUR</span>   
</h4>


<div class="d-flex align-items-center">
    <form class="ml-auto d-flex" action="/Admin/quanlyDatTour/search" method="post">
        <input type="text" placeholder="Search" class="form-control" style="border-radius:5px;" name="search" value="@ViewBag.search" />
        <button class="btn btn-primary ml-2" style="border-radius:5px" ; type="submit">Search</button>
    </form>
</div>





<table class="table table-striped border">
    <caption>List of DatTour</caption>
    <thead>
        <tr>
            <th>Mã Đặt</th>
            <th>Khách Hàng</th>
            <th>Ngày Đặt</th> 
            <th>Tình Trạng</th>
            <th>Action</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>@item.MaDat</td>
            <td>@item.KhachHang.HoTen</td>
            <td>@item.NgayDat</td>
            <td>@item.TinhTrang</td>
            <td>
                <a href="@Url.Action("Details","quanlyDatTour",new {@MaDat=item.MaDat })" class="table-link">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                    </span>
                </a>               
                <a href="@Url.Action("Delete","quanlyDatTour",new {@MaDat=item.MaDat })" class="table-link danger">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>
        </tr>
        }


    </tbody>
</table>


